
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.github-button {
  display: inline-block;
  text-decoration: none;
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

.github-button:hover {
  background-color: #555;
}

.icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-right: 5px;
  background-image: url('/public/git.png'); /* Replace with your icon image URL */
  background-size: cover;
  vertical-align: middle;
}


